{% extends "base.html" %}
{% load staticfiles %}


{% block contentBlock %}
    <div id="container">
        <div id="contentClinic">
            <div style="float:left">
                <iframe width="490" height="315" src="https://www.youtube.com/embed/cDDWvj_q-o8" frameborder="0" allowfullscreen></iframe>
            </div>

            <div style="float:right">
                <iframe width="490" height="315" src="https://www.youtube.com/embed/N9S_Hdkqf08" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
