{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(50.06, 19.9),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block contentBlock %}
    <div id="content">
        <table style="color: white;">
            <tr>
                <td><div id="map"></div></td>
                <td><div>

                    <table align="left" border="0" cellpadding="2" cellspacing="2" style="width: 100%; color: white">
                        <tbody>
                            <tr>
                                <td><span style="color:white; font-weight: bold;">Address</span></td>
                                <td> ul. prof. Stanisława Łojasiewicza 6</td>
                            </tr>

                            <tr>
                                <td> &nbsp;</td>
                                <td> 30-348 Kraków</td>
                            </tr>

                            <tr>
                                <td> <span style="color:white; font-weight: bold;">Telephone</span></td>
                                <td> (+48) 12 664 66 29</td>
                            </tr>

                            <tr>
                                <td> <span style="color:white; font-weight: bold;">Fax</span></td>
                                <td> (+48) 12 664 66 75</td>
                            </tr>

                            <tr>
                                <td> <span style="color:white; font-weight: bold;">E-mail</span></td>
                                <td> matinf@uj.edu.pl</td>
                            </tr>
                        </tbody>
                    </table>
                </div></td>
            </tr>
        </table>
    </div>
{% endblock %}